<%- include("header") -%> <%- include("navbar") -%>
<section class="sections">
  <h1>Welcome in my Blog!</h1>

  <h2>Recent posts</h2>
  <div class="blog-box">
    <% data.forEach(blog => { %>
    <div class="blog-wrapper">
      <h3 class="blog-header"><%= blog.title %></h3>
      <div class="blog-content">
        <% if(blog.content.length >= 100) { %>
        <p><%= blog.content.substring(0, 100) + " ..." %></p>
        <% } else { %>
        <p><%= blog.content %></p>
        <% } %>
      </div>
      <div class="blog-footer">
        <p class="blog-author"><%= blog.author %></p>
        <p class="blog-date">Added: <%= blog.date %></p>
        <% if(blog.content.length >= 100) { %>
          <a href=<%= blog.url %>>Read more</a>
        <% } %>

      </div>
    </div>
    <% }) %>
  </div>
</section>
<%- include("footer") -%>
